extends layout

block content

  - var tenants = user._json.groups
  img(src="#{user.picture}")
  h2 Welcome #{user.nickname}!
  div Tenants: #{tenants}
  br
  a(href='/logout') Logout

  div
    span Switch Tenants
    select(id="tenant-select" onchange="switchTenant(this.value)")
      - each tenant in tenants
        option(value=tenant) #{tenant}

  script.
    var switchTenant = function (tenant) {
      var url = buildTenantUrl(tenant);
      window.location.href = url;
    };

    var getCurrentTenant = function() {
      var hostParts = "#{host}".split('.');
      if (hostParts.length > 2) {
        return hostParts[0].toLowerCase();
      }
      return;
    };

    var buildTenantUrl = function(tenant) {
      var hostParts = "#{host}".split('.');

      if (hostParts.length > 2) {
        hostParts[0] = tenant;
      } else {
        hostParts.splice(0, 0, tenant);
      }

      var url = '//' + hostParts.join('.') + '/user';

      return url;
    };

    var setDefaultTenant = function() {
      var tenantSelect = document.getElementById('tenant-select');
      var options = tenantSelect.options;
      var currentTenant =  getCurrentTenant() || '';

      if (!currentTenant) return;

      for (var i = 0; i < options.length; i++) {
        if (options[i].value.toLowerCase() == currentTenant) {
          options[i].defaultSelected = true;
          break;
        }
      }
    };

    document.onload = (function() {
      setDefaultTenant();
    })();
