extends layout

block content

  img(src="#{user.picture}")
  h2 Welcome #{user.nickname}!
  div My Tenants:
    - each tenant in tenants
      span(style="margin: 3px")
      - var css = tenant.isActive ? 'color: orange; font-weight: bold;' : '';
        a(href=tenant.url style=css) #{tenant.name}
  br
  
  a(href='/logout') Logout